services:
  db:
    container_name: api_db
    image: postgres:14-alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data
    #      - ./postgres-data:/var/lib/postgresql/data
    restart: always
    # ports:
    #  - 127.0.0.1:5432:5432
    env_file:
      - .env
    networks:
      net1:
        ipv4_address: 172.20.0.2
  api_model:
    container_name: api_model
    image: markreduce/devia_titre:api_model
    env_file:
      - .env
    volumes:
      - blue-vol:/app/statics
    ports:
      - "127.0.0.1:8000:8000"
    networks:
      net1:
        ipv4_address: 172.20.0.3
    depends_on:
      - db
    restart: always
volumes:
  postgres-data:
    name: "pg_db"
  blue-vol:
    external: true
networks:
  net1:
    name: net1
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/16
          gateway: 172.20.0.1

